.Sidebar{
  background-color: white;
  position: fixed;
 bottom: 0;
 left: 0;
 top: 55px;
 width: 80px;
}

.sidebarlink{
  background-color: white(255, 255, 255);
  height: 80px;
  margin-bottom: 2px;
   transition: .015s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-family: Roboto,Arial;
  font-weight: 100;
  cursor: pointer;
}



.sidebarlink:hover{
  background-color: rgb(213, 213, 213);
}

.sidebarlink img{
  height: 26px;
  margin-bottom: 5px;
}